<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href='https://fonts.googleapis.com/css?family=Merienda'
	rel='stylesheet'>
<!--family font Merienda-->


<title th:text="'Ristorante San Pietro'"></title>
<link rel="icon" href="images/logo.png">
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div id="Welcome">
		<!---START NAVIGATION BAR -->
		<nav
			class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
			<a class="navbar-brand" href="#Welcome"> <img
				src="images/logo.png" width="50" height="50" class="d-inline-block"
				alt=""> Ristorante San Pietro
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#Welcome">Benvenuti</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Restaurant">Ristorante</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Gallery">Gallery</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Menu">Menu</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#GiorniDiApertura">Giorni di apertura</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Meteo"> Meteo </a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#DoveSiamo">Dove
							siamo</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/manageMenu}">Gestisci Menu</a></li>
				</ul>
			</div>
		</nav>
		<!--- END NAVIGATION BAR -->




		<!--- START CAROUSEL -->
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100 img-fluid img-slider" src="images/IMG-20210801-WA0000.jpg" alt="First slide">
					<div class="carousel-caption">
						<!-- <h2>Welcome!</h2> -->
						<p>...</p>
					</div>
				</div>
				<div class="carousel-item">
					  <img class="d-block w-100 img-fluid img-slider" src="images/IMG-20190917-WA0017.jpg" alt="Second slide">
					  <div class="carousel-caption">
						<!-- <h2>Traditional Italian Cuisine</h2> -->
						<p>...</p>
					</div>
				</div>
				<div class="carousel-item">
					  <img class="d-block w-100 img-fluid img-slider" src="images/IMG-20190917-WA0016.jpg" alt="Third slide">
					  <div class="carousel-caption">
						<!-- <h2>Selected Products</h2> -->
						<p>...</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 img-fluid img-slider" src="images/IMG-20190811-WA0001.jpg" alt="Third slide">
					<div class="carousel-caption">
					  <!-- <h2>Selected Products</h2> -->
					  <p>...</p>
				  </div>
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<!--- END CAROUSEL -->

	</div>






	<!--- START PRESENTATION PAGE-->
	<div class="container">
		<div class="row" id="Restaurant">
			<div class="col navMenu">
				<h2 class="text-center">~ Restaurant ~</h2>
			</div>
		</div>
		<div class="row bg-light">
			<div class="col-md-6">
				<h3>Location</h3>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
				<h5>A Unique Experience</h5>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
			</div>
			<div class="col-md-6" data-aos="fade-up">
				<img class="img-fluid" src="images/IMG-20200725-WA0003.jpeg">
			</div>
		</div>
		<div class="row bg-light">
			<br>
		</div>
		<div class="row bg-light">
			<div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
				<img class="img-fluid " src="images/IMG-20190917-WA0001.jpg">
			</div>
			<div class="col-md-6 order-md-12 order-1">
				<h3>Cuisine</h3>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
				<h5>A Unique Experience</h5>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
			</div>
		</div>
		<!--- End of Restaurant -->
		<!--- END PRESENTATION PAGE-->




		<!--- START GALLERY -->
		<div class="row" id="Gallery">
			<div class="col navMenu">
				<h2 class="text-center">~ Gallery ~</h2>
			</div>
		</div>
		<!-- Gallery -->
		<div class="row">
			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<img src="images/IMG_20210618_185901.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
					src="images/IMG_20210711_123304.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" />
			</div>
			<div class="col-lg-4 mb-4 mb-lg-0">
				<img src="images/IMG_20210711_122008.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
					src="images/IMG_20210710_215521.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" />
			</div>
			<div class="col-lg-4 mb-4 mb-lg-0">
				<img src="images/IMG_20210710_195107.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
					src="images/IMG_20210710_193107.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" />
			</div>
		</div>
		<!-- Gallery -->
		<!-- END GALLERY-->



		<!-- START MENU-->
		<div class="row" id="Menu">
			<div class="col navMenu">
				<h2 class="text-center">~ Menus ~</h2>
			</div>
		</div>
		<!-- Menus -->
		<div th:switch="${menus}" class="container my-5">
				<h2 th:case="null">Nessun menu per ora</h2>
				<div th:case="*">
					<div class="card-columns">
						<div th:each="menu : ${menus}" class="card" style="width: 18rem;">
							<img class="card-img-top" th:src="@{'images/menus/' + ${menu.fileName}}" alt="Card image cap">
  							<div class="card-body">
    						<h5 class="card-title" th:text="${menu.titolo}"></h5>
							<p th:text="${menu.descrizione}">
  							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- END MENU-->







		<!--- START GIORNI DI APERTURA-->
		<div class="row" id="GiorniDiApertura">
			<div class="col navMenu">
				<h2 class="text-center">~ I nostri orari ~</h2>
			</div>
		</div>
		<div class="row">
			<div class=" col-lg-12 reserve-container" data-aos="fade-up">
				<img class="img-fluid image-reserve"
					src="images/IMG-20190815-WA0013.jpg">
				<div class="reserve-text col-lg-12 ">
					<div class="row">
						<div class="col-12">
							<h4 class="text-center">
								Lunedì e Mercoledì
								</h2>
								<h6 class="text-center">
									10:00 - 15:00
									</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h4 class="text-center">
								Giovedi , Venerdì , Sabato e Domenica
								</h2>
								<h6 class="text-center">
									10:00 - 23:30
									</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h4 class="text-center">
								Martedì giorno di chiusura
								</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--- END GIORNI DI APERTURA-->








		<!-- START WEATHER-->
		<div class="row" id="Meteo">
			<div class="col navMenu">
				<h2 class="text-center">~ Meteo ~</h2>
			</div>
		</div>
		<!-- Weathear -->
		<div class="weather row gx-2">
			<!-- Meteo card loaded from app.js-->
		</div>
		<!-- END WEAHTER-->








		<!--- START DOVE SIAMO -->
		<div class="row" id="DoveSiamo">
			<div class="col navMenu">
				<h2 class="text-center">~ Dove siamo ~</h2>
			</div>
		</div>
		<!--  MAPPA GOOGLE-->
		<div class="row">
			<div id="map" class="col-md-9 map"></div>
			<div class="col-md-3">
				<h3>Indirizzo :</h3>
				<p>Strada Alzaia Naviglio Grande, 18, 20020 Robecchetto con
					Induno MI</p>
				<h3>Email:</h3>
				<p>mail@example.com</p>
			</div>
		</div>
		<!-- END MAPPA GOOGLE-->




	</div>
	<!--- END CONTAINER PAGE-->





	<!--- FOOTER WITH SOCIAL MEDIA LINK -->
	<!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
			<span>Rimani connesso ai nostri social network:</span>
		</div>
		<!-- Left -->
	
		<!-- Right -->
		<div>
			<a href="https://www.facebook.com/ristorantesanpietrorobecchetto" class="me-4 text-reset">
			<i class="fab fa-facebook-f"></i>
			</a>
			<a href="" class="me-4 text-reset">
			<i class="fab fa-twitter"></i>
			</a>
			<a href="" class="me-4 text-reset">
			<i class="fab fa-google"></i>
			</a>
			<a href="https://www.instagram.com/_ristorante_san_pietro/" class="me-4 text-reset">
			<i class="fab fa-instagram"></i>
			</a>
			<a href="" class="me-4 text-reset">
			<i class="fab fa-linkedin"></i>
			</a>
			<a href="https://www.tripadvisor.it/Restaurant_Review-g1077965-d4023390-Reviews-Ristorante_San_Pietro-Robecchetto_con_Induno_Province_of_Milan_Lombardy.html" class="me-4 text-reset">
			<i class="fab fa-tripadvisor"></i>
			</a>
		</div>
		<!-- Right -->
		</section>
		<!-- Section: Social media -->
	
		<!-- Section: Links  -->
		<section class="">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3">
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<!-- Content -->
				<h6 class="text-uppercase fw-bold mb-4">
				<i class="fas fa-gem me-3"></i>Company name
				</h6>
				<p>
				Here you can use rows and columns to organize your footer content. Lorem ipsum
				dolor sit amet, consectetur adipisicing elit.
				</p>
			</div>
			<!-- Grid column -->
	
			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
				<!-- Links -->
				<h6 class="text-uppercase fw-bold mb-4">
				Products
				</h6>
				<p>
				<a href="#!" class="text-reset">Angular</a>
				</p>
				<p>
				<a href="#!" class="text-reset">React</a>
				</p>
				<p>
				<a href="#!" class="text-reset">Vue</a>
				</p>
				<p>
				<a href="#!" class="text-reset">Laravel</a>
				</p>
			</div>
			<!-- Grid column -->
	
			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
				<!-- Links -->
				<h6 class="text-uppercase fw-bold mb-4">
				Link utili
				</h6>
				<p>
				<a href="#!" class="text-reset">Pricing</a>
				</p>
				<p>
				<a href="#!" class="text-reset">Settings</a>
				</p>
				<p>
				<a href="#!" class="text-reset">Orders</a>
				</p>
				<p>
				<a href="#!" class="text-reset">Help</a>
				</p>
			</div>
			<!-- Grid column -->
	
			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
				<!-- Links -->
				<h6 class="text-uppercase fw-bold mb-4">
				Contatti
				</h6>
				<p><i class="fas fa-home me-3"></i> Strada Alzaia Naviglio Grande, 18, 20020 Robecchetto con Induno MI</p>
				<p>
				<i class="fas fa-envelope me-3"></i>
				info@example.com
				</p>
				<p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
				<p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
			</div>
			<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
		</section>
		<!-- Section: Links  -->
	
		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright:
		<a class="text-reset fw-bold" href="">Blog Personale</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->




	<!--- FOOTER ONLY MOBILE -->
	<!-- <footer class="container">
		<div class="row only-mobile">
			<div class="col-6">
				<a class="btn btn-primary btn-block text-center"
					href="tel:0331 875402"><i class="fa fa-phone"
					aria-hidden="true"></i> Call</a>
			</div>
			<div class="col-6">
					<a class="btn btn-success btn-block text-center" href="https://api.whatsapp.com/send?phone=+390000000"><i class="fab fa-whatsapp" aria-hidden="true"></i> Whatsapp</a>
			</div> 
		</div>
	</footer> -->
	
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<script type="text/javascript" src="js/smooth-scroll.js"></script>
		<<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> 
		<script type="text/javascript" src="js/image-effect.js"></script> -->



	<!-- jquery package-->
	<script src="js/jquery-3.3.1.min.js"></script>
	<!-- bootstrap javascript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
	<!-- social icon -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>  -->
	<!-- navbar scroll -->
	<script type="text/javascript" src="js/smooth-scroll.js"></script> -->
	<!--google apis-->
	<script type="text/javascript" src="js/map.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCx7vslutL_K_m84bbyDYnmJrfV3IGc5s&callback=initMap"
		async>
	</script> 
	<!-- Open weather api-->
	<script src="js/app.js" defer></script> 
	<!-- Carosel slider botton-->
	<script>
		baguetteBox.run('.tz-gallery');
	</script> 
</body>
</html>





