<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
        
<!--       
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
  -->        
        
		<section class="vh-100">
		  <div class="container-fluid">
		    <div class="row">
		      <div class="col-sm-6 text-black">
		
		        <div class="px-5 ms-xl-4">
		          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
		          <span class="h1 fw-bold mb-0">Logo</span>
		        </div>
		
		        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
		
		          <form th:action="@{/login}" method="post" style="width: 23rem;">
		
		            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
		
		            <div class="form-outline mb-4">
		              <input type="text" name="username" id="form2Example18" class="form-control form-control-lg" />
		              <label class="form-label" for="form2Example18">Email address</label>
		            </div>
		
		            <div class="form-outline mb-4">
		              <input type="password" name="password" id="form2Example28" class="form-control form-control-lg" />
		              <label class="form-label" for="form2Example28">Password</label>
		            </div>
		
		            <div class="pt-1 mb-4">
		               <!--   <button class="btn btn-info btn-lg btn-block" type="button">Login</button>  -->
		            <div><input type="submit" class="btn btn-info btn-lg btn-block" value="Sign In"/></div>
		            </div>

					<a class="nav-link" th:href="@{/registrazione}"> Registrati</a>
		
		
		          </form>
		
		        </div>
		
		      </div>
		      <div class="col-sm-6 px-0 d-none d-sm-block">
		        <img src="/images/IMG_20210710_195107.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
		      </div>
		    </div>
		  </div>
		</section>
        
        
    </body>
</html>