<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="css/style_administrator.css">


<title>Welcome</title>
</head>


<body>

<!-- START PRINCIPAL CONTAINER-->
	

		<!-- Sidebar  -->
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-header">
                <h3>Gestione menu</h3>
            </div>
            <ul class="list-unstyled components">
                <p> funzionalità attive </p>
        		 <li>
                    <a class="nav-link" href="/"> HomePage </a>
                </li>
                <li>
                    <a class="nav-link" href="#upload"> carica menu</a>
                </li>
				<li>
                    <a class="nav-link" href="#Menu"> I miei menu</a>
                </li>
				<li>
                    <a class="nav-link" th:href="@{/logout}"> Loogout</a>
                </li>
            </ul>
        </nav>









		<!-- START FORM FOR POST MENU-->
			<div clas="row my-body" id="upload">
				<div class="col-md-8 mx-auto">
					<h2>Upload File Example</h2>
					<p th:text="${message}" class="alert alert-primary"></p>

					<form method="post" th:action="@{/manageMenu/upload}" enctype="multipart/form-data">
						<div class="form-group">
							<label>Inserisci titolo</label>
							<input type="text" name="titolo">
							<label>Inserisci descrizione</label>
							<input type="text" name="descrizione">
							<input type="file" name="file" class="form-control-file" accept="image/png, image/jpeg , image/jpg">
						</div>
						<button type="submit" class="btn btn-primary"> Upload Menu</button>
						<a th:href="@{/manageMenu/deleteAll}" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2">Cancella tutti i file</i></a>
					</form>
				</div>
			</div>
		<!-- END FORM -->	


		
		<!-- START MENU-->
		<div class="row my-body" id="Menu">
			<div class="col navMenu">
				<h2 class="text-center">~ Menus ~</h2>
			</div>
		</div>
		<!-- Menus -->
		<div class="row my-body">
		<div th:switch="${menus}" class="container my-5">
				<h2 th:case="null">Nessun menu per ora</h2>
				<div th:case="*">
					<div class="card-columns">
						<div th:each="menu : ${menus}" class="card" style="width: 18rem;">
							<img class="card-img-top" th:src="@{'images/menus/' + ${menu.fileName}}" alt="Card image cap">
  							<div class="card-body">
    							<h5 class="card-title" th:text="${menu.titolo}"></h5>
								<p th:text="${menu.descrizione}">
  							</div>
							<div class="card-footer text-muted">
								<a th:href="@{/manageMenu/delete/{id}(id=${menu.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MENU-->


	
	
	<!-- END PRINCIPAL CONTAINER-->



	</div>
</body>
</html>