<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="css/style_administrator.css">


<title>Welcome</title>
</head>


<body>





		<div th:replace="sidebar :: sidebar"></div>


		<div class="col-md-6 offset-md-3 mt-5">



			<section class="my-5">
				<div class="container">
					<div class="row">
						<div class="col-md-8 mx-auto">

							<a href="/manageFile/deleteAll" class="btn btn-primary"><i
								class="fas fa-user-plus ml-2">Cancella tutti i file</i></a>

							<h2>Upload File Example</h2>

							<p th:text="${message}" class="alert alert-primary"></p>

							<form method="post" th:action="@{manageFile/upload}"
								enctype="multipart/form-data">
								<div class="form-group">
									<label>Inserisci titolo</label>
									<input type="text" name="titolo">
									<label>Inserisci descrizione</label>
									<input type="text" name="descrizione">
									<input type="file" name="file" class="form-control-file" accept="image/png, image/jpeg">
								</div>
								<button type="submit" class="btn btn-primary">Upload
									File</button>
							</form>
						</div>
					</div>
				</div>
			</section>



		<!-- START MENU-->
		<div class="row" id="Menu">
			<div class="col navMenu">
				<h2 class="text-center">~ Menus ~</h2>
			</div>
		</div>
		<!-- Menus -->
		<div th:switch="${menus}" class="container my-5">
				<h2 th:case="null">Nessun menu per ora</h2>
				<div th:case="*">
					<div class="card-columns">
						<div th:each="menu : ${menus}" class="card" style="width: 18rem;">
							<img class="card-img-top" th:src="@{images/menu/${menu.fileName}}" alt="Card image cap">
  							<div class="card-body">
    						<h5 class="card-title" th:text="${menu.titolo}"></h5>
							<p th:text="$menu.descrizione">
  							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- END MENU-->


			




		</div>



	
</body>
</html>